/*
.rounded-circle {
	border-radius: 50%;
	position: relative;
	height: 200px;
	width: 200px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.rounded-circle.ratio img {
	position: absolute;
	left: 50%;
	width: auto;
	height: 200px;
	transform: translateX(-50%);
}
*/